<launch>
  <!-- actionlib server for joint and griper -->
  <node pkg="baxter_interface"
        type="joint_trajectory_action_server.py"
        name="joint_trajectory_action_server" />
  <node pkg="baxter_interface"
        type="gripper_action_server.py"
        name="joint_trajectory_action_server.py" />

  <!-- workaround for roi problem of ar_marker-->
  <include file="$(baxter_seminar_helper)/launch/camera_info_fixer.launch" />
  <node pkg="ar_track_alvar" type="individualMarkersNoKinect"
        name="ar_track"
        args="4.5 0.1 0.1
              /cameras/right_hand_camera/image
              /cameras/right_hand_camera/camera_info_fixed
              /right_hand_camera_axis" />

  <node pkg="baxter_interface"
        type="gripper_action_server.py"
        name="joint_trajectory_action_server.py" />
  <include file="$(find baxter_moveit_config)/launch/demo_baxter.launch" />

</launch>
